*{

    margin: 0;
    padding: 0;
}
.redbox{
    bottom: 0;
    height: 0px;
    width: 312px;
    background-color: orange;
    position: absolute;
    transition: 0.4s ease-out;
    overflow: hidden;
}
.from{
    font-family: 'Verdeana', sans-serif;
    margin-top: 16px;
    margin-left: 21px;
    color:white;
    font-size: 10pt;
    transition: 0.4s ;
    
}
.view-details{
    font-family: "verdana",sans-serif;
font-size: 14px;
color: white;
display: inline-block;

margin-left: 135px;
transition: 0.4s ;
cursor: pointer;


}
a{
    text-decoration: none;
    color: white;
}
.price{
   display: inline-block;
    margin-left: 21px;
    font-family: 'Verdeana', sans-serif;
    color: white;
    font-size: 20px;
    transition: 0.4s ;
   

}
.UnderImgTxt{   margin-top: 22px;
    font-family: 'Verdana', sans-serif;
color:  #ffffff;
font-size: 18px;
font-weight: 400;
line-height: 21px;
text-align: center;

}

.logo{
    display: inline-block;
    margin-top: 49px;
    margin-left: 155px;
    height: 44px;
   
}
.logoimg:hover{
    background-image: url(../img/logo2.png);
}

.global{
    width: 1366px;
    height: 768px;
    
    background-image: url(background.png);
 
}
.img1{
    border: 2px rgb(141, 140, 136) solid;
}

.logoimg{
   
    width: 44px;
    height: 44px;

    display: inline-block;
    background-image: url(../img/logo.png)
}
.logotxt{
    display: inline-block;
    margin-left: 15px;

}
.logotxt:hover p{
    color: orange;
}

.txt-logo1{
    text-transform: uppercase;
    font-family: 'Verdana', sans-serif;
color:  #ffffff;
font-size: 29px;
font-weight: 700;
line-height: 21px;

}
.txt-logo2{
    text-transform: uppercase;
    font-family: 'Verdana', sans-serif;
color:  #ffffff;
font-size: 18px;
font-weight: 700;
line-height: 21px;
text-align: left;
}
.information-about-me{
    margin-left: 656px;
   
    display: inline-block;

}
.ImgTures{
    position: relative;
    
    width: 311px;
    height: 200px;
    border: 2px grey solid;
    
}
.ImgTures1{
    position: relative;
    
    width: 311px;
    height: 200px;
    border: 2px grey solid;
}
.first{
    background-image: url(../img/img1.jpg);
}
.second{
    background-image: url(../img/img2.jpg);
}
.third{
    background-image: url(../img/img3.jpg);
}
.fourth{
    background-image: url(../img/img4.jpg);
}
.fiveth{
    background-image: url(../img/img5.jpg);
}
.sixth{
    background-image: url(../img/img6.jpg);
}
.ImgTures1:hover  .redbox {
    height: 63px;
   
}
.ImgTures1:hover ~ .UnderImgTxt{
    color:orange;
}

.email{
  
    font-family: 'Verdana', sans-serif;
    color:  #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;

}
.nomber{
    font-family: Verdana;
color:  #ffffff;
font-size: 18px;
font-weight: 400;
line-height: 21px;
text-align: right;

}
.header{
    width: 1221px;
    height: 44px;
    display: inline-block;
}
.LineOfImg1{
    display: flex;
    justify-content: space-between;
    margin-left: 157px;
    margin-top: 48px;
    margin-right: 150px;
}



.LineOfImg2{
    display: flex;
    justify-content: space-between;
    margin-left: 157px;
    margin-top: 58px;
    margin-right: 150px;
}

.footer{
    margin-top: 35px;
    text-align: center;
    font-family: "Verdana", sans-serif;
color:  #ffffff;
font-size: 12px;
font-weight: 400;
line-height: 21px;

}


